<!DOCTYPE html>

<html>
<head>
  <title>Outcast</title>
</head>

<body>

  <script type="text/javascript">

    var parentView = window.opener;

    var init = function() {

      var token = null;
      var params = getHashParams();

      console.log(params);
      console.log(params);

      if(params.hasOwnProperty('access_token')) {

        parentView.postMessage(
          '{"name":"done","data":"'+ params['access_token'] + '"}',
          'http://127.0.0.1:51792');

          window.close();

      } else {

        addEventListeners();
        parentView.postMessage('{"name":"ready","data":null}', 'http://127.0.0.1:51792');
      }
    };

    var getHashParams = function() {

      var hashParams = {};
      var e,
          a = /\+/g,
          r = /([^&;=]+)=?([^&;]*)/g,
          d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
          q = window.location.hash.substring(1);

      while (e = r.exec(q))
         hashParams[d(e[1])] = d(e[2]);

      return hashParams;
    };

    var onMessageReceived = function(e) {

      if(e.origin !== 'http://127.0.0.1:51792') return;

      var event = JSON.parse(e.data);

      if(event.name == 'updateUrl') {

        console.log(event.data);

        var oauthView = document.getElementById("oauth-iframe-view");
        window.location = event.data;
      }
    };


    var onLoadComplete = function() {

      // parentView.postMessage('', 'http://127.0.0.1:51792');
    };

    var addEventListeners = function() {
      window.addEventListener('message', onMessageReceived, false);
    };

    init();

  </script>

</body>
</html>
